*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: royalblue;
}

.logo{
    font-size: 24px;
    letter-spacing: 24px;
    word-spacing: 1px;
}

.nav-links{
    display: flex;
    width: 90%;
    justify-content: space-around;
    font-size: 28px;
}

.nav-links a{
    color: black;
    text-decoration: none;
}

.nav-links a:hover{
    color: white;
}

.nav-links li{
    list-style: none;
}




